<!--include header-->
<%- include('include/_headerInscripcion')%>
<!--/include header-->

<!--Sitio Principal-->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/inscripcion">
          <i class="fas fa-angle-double-left"></i> Todos los Inscripciones</a
        >
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Actualizar Inscripcion</h2>
      <span class="text-light"
        >Use el nuevo formulario para actualizar una inscripcion</span
      >
    </div>

    <!--add user form-->
    <!-- Formulario-->
    <form method="POST" id="update_inscripcion">
      <div class="new_inscripcion">
        <div class="form-group">
          <label for="fecha" class="text-light">Fecha</label>
          <input type="hidden" name="id" value="<%= inscripcion._id %>" />
          <input
            type="text"
            name="fecha"
            value="<%= inscripcion.fecha %>"
            placeholder="Ejemplo: 10/10/2022"
          />
        </div>
        <div class="form-group">
          <label for="hora" class="text-light">Hora</label>
          <input
            type="text"
            name="hora"
            value="<%= inscripcion.hora %>"
            placeholder="Ejemplo: 10:00"
          />
        </div>
        <div class="form-group">
          <label for="valor_cancelar" class="text-light">Valor Cancelar</label>
          <input
            type="text"
            name="valor_cancelar"
            value="<%= inscripcion.valor_cancelar %>"
            placeholder="Ejemplo: $ 20"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn text-dark update">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</main>
<!--/Sitio Principal-->

<!--include footer-->
<%- include('include/_footerInscripcion')%>
<!--/include footer-->
